<% if params[:bookmarklet] -%>
  <%= hidden_field :bookmarklet, true %>
<% end -%>
<%= template_error_messages_for 'bookmark' %>
<table>
  <tr>
    <th><%= form.label :escaped_url, _('URL') %></th>
    <td>
      <%= form.hidden_field :escaped_url %>
      <%= link_to truncate(form.object.escaped_url, :length => 60), form.object.escaped_url, :title => h(form.object.title), :target => '_blank' %>
      <br/>
      <span style="font-size: 10px; color: #555555;"><%= _('(Will open as a new window)') %></span>
    </td>
  </tr>
  <tr>
    <th><%= form.label :title %></th>
    <td>
      <span style="font-size: 15px; font-weight: bold;">
      <% if form.object.new_record? || form.object.is_type_internet? -%>
        <%= form.text_field :title, :size => 100 %>
        <span id="refresher"><%= icon_tag 'arrow_rotate_clockwise', :title => _("Reacquire the title") %></span>
        <span id="indicator" style="display:none;font-size:10px;"><%= skip_image_tag 'indicator.gif' %><%= _('Updating...')%></span>
        <br/><span style="font-size: 10px; color: green;"><%= _('The titles are shared among all users so be careful upon updating.')%></span>
      <% else -%>
        <%= h(form.object.title) -%>
        <%= form.hidden_field :title -%>
      <% end -%>
      </span>
    </td>
  </tr>
  <% bookmark_comments = [form.object.bookmark_comments.find_by_user_id(current_user.id) || form.object.bookmark_comments.build] -%>
  <% form.fields_for :bookmark_comments, bookmark_comments do |bc_form| -%>
    <%= bc_form.hidden_field :user_id, :value => current_user.id %>
    <tr>
      <th><%= _('Public' ) %></th>
      <td>
        <%= bc_form.radio_button :public, true %><%= bc_form.label :public_true, _('Publish') %>
        <%= bc_form.radio_button :public, false %><%= bc_form.label :public_false, _('Closed') %>
      </td>
    </tr>
    <tr>
      <th><%= bc_form.label :tag_strings, _('Tags') %></th>
      <td>
        <%= bc_form.text_field :tag_strings, :size => 100, :class => :tag_strings %>
        <div id="category_box">
          <div id="candidates_list"><p><%= _('Multiple values can be given in foo,bar format')%></p></div>
          <div style="font-size:8pt; font-weight:bold;"><%= _('Tags marked by others: ')%></div><div id="user_tags_list" style="margin-bottom:5px;"></div>
          <div style="font-size:8pt; font-weight:bold;"><%= _('Top 10 tags: ')%></div><div id="other_tags_list" style="margin-bottom:5px;"></div>
          <div style="font-size:8pt; font-weight:bold;"><%= _('Tags you used before (top 20): ')%></div><div id="your_tags_list" style="margin-bottom:5px;"></div>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= bc_form.label :comment, _('Comment') %></th>
      <td><%= bc_form.text_field :comment, :size => 100 %></td>
    </tr>
  <% end -%>
  <tr>
    <td colspan="2" class="operation">
      <% if form.object.is_type_internet? && @bookmarklet -%>
        <input type="button" value=<%= _('Back') %> onclick="location.href='<%= form.object.escaped_url %>'"></input>
      <% end -%>
    </td>
  </tr>
</table>

<% content_for :javascript_initializers do -%>
    var setupTagComplete = function() {
        var userTags = new Array(<%= @bookmark.user_tags.map{|str| ("'#{str}'")}.join(',') %>);
        var otherTags = new Array(<%= @bookmark.other_tags.map{|str| ("'#{str}'")}.join(',') %>);
        var yourTags = new Array(<%= @bookmark.your_tags(current_user).map{|str| ("'#{str}'")}.join(',') %>);

        $j('#user_tags_list').append(createTagsLink(userTags));
        $j('#other_tags_list').append(createTagsLink(otherTags));
        $j('#your_tags_list').append(createTagsLink(yourTags));

        $j('.tag_strings').jTagging($j('#user_tags_list'));
        $j('.tag_strings').jTagging($j('#other_tags_list'));
        $j('.tag_strings').jTagging($j('#your_tags_list'));
    };
    setupTagComplete();

    var reloadTitle = function(url, target_id) {
        $j('#refresher').hide();
        $j('#indicator').show();
        $j.ajax({
            type: "GET",
            url: '<%= polymorphic_path([current_tenant, :bookmarks], :action => :load_title) %>',
            data: { url:url, authenticity_token: '<%= form_authenticity_token %>' },
            success: function(request){
                if(request == ""){
                    alert('<%= _('Failed to load title.') %>');
                    return;
                }else{
                    $j('#'+target_id).val(request);
                }
            },
            complete: function(request){
                $j('#indicator').hide();
                $j('#refresher').show();
            },
            error: function(request){
                alert(request.responseText);
            }
        });
    };

    $j('#refresher')
    .click(function() {
        reloadTitle($j('#bookmark_escaped_url').val(), 'bookmark_title');
        return false;
    });

    if ($j('#bookmark_title').val() == '') {
        reloadTitle($j('#bookmark_escaped_url').val(), 'bookmark_title');
    }
<% end -%>
