<% title ||= '' %>
<% bookmarks ||= [] -%>

<div class="topix_bookmarks_wrapper">
  <% unless title.blank? -%>
    <h2 class="title"><%= icon_tag('asterisk_orange') %><%= h title %></h2>
  <% end -%>
  <% unless bookmarks.empty? -%>
    <table class="topix_bookmarks">
      <col class="col25" />
      <col />
      <col class="col75" />
      <tbody>
        <% bookmarks.each do |bookmark| -%>
          <tr>
            <td class="bookmark_type"><%= bookmark_type_icon(bookmark) %></td>
            <td class="bookmark_outline">
              <%= link_to_bookmark_url(bookmark, :without_icon => true) %>
              <span class="count"><%= link_to(n_("%{count} user", "%{count} users", bookmark.bookmark_comments_count) % {:count => bookmark.bookmark_comments_count}, url_for_bookmark(bookmark)) %></span>
              <%#= user_link_to(bookmark.user, :with_prefix => true) %>
              <%# TODO bookmarkを取得するタイミングで一緒にタグも取得するようにしたいなぁ %>
              <%= bookmark_comment_tag_search_links_tag(Tag.commented_to(bookmark).all.map(&:name).join(','), :max => 3) %>
              <% if bookmark.bookmark_comments.all?{|bc| bc.user_id != current_user.id } -%>
                <% new_bookmark_url_hash = {:controller => '/bookmark', :action => "new_without_bookmarklet", :url => bookmark.url, :title => bookmark.title} -%>
                <%= link_to(icon_tag('tag_blue_add', :title => _('Bookmark this')), new_bookmark_url_hash, {:onclick => "sub_window_open('#{url_for(new_bookmark_url_hash)}', 'subwindow', 550, 400); return false;" }) %>
              <% end -%>
              <br />
              <% if bookmark_comment = bookmark.bookmark_comments.last -%>
                <span class="infos">
                  <%= h bookmark_comment.comment %> <%= user_link_to(bookmark_comment.user, :with_prefix => true) %>
                </span>
              <% end -%>
            </td>
            <td class="date"><%=h bookmark.created_on.strftime(_("%B %d %Y")) %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% end %>
</div>
