<% title ||= '' %>
<% bookmarks ||= [] -%>

<div class="topix_bookmarks_wrapper">
  <% unless title.blank? -%>
    <h2 class="title"><%= icon_tag('asterisk_orange') %><%= h title %></h2>
  <% end -%>
  <% unless bookmarks.empty? -%>
    <table id="search_result" class="topix_bookmarks">
      <col class="col25" />
      <col />
      <col class="col75" />
      <tbody>
        <% bookmarks.each do |bookmark| -%>
          <tr>
            <td class="bookmark_type"><%= bookmark_type_icon(bookmark) %></td>
            <td class="bookmark_outline">
              <%= link_to_bookmark_url(bookmark, :without_icon => true) %>
              <span class="count"><%= link_to(n_("%{count} user", "%{count} users", bookmark.bookmark_comments_count) % {:count => bookmark.bookmark_comments_count}, url_for_bookmark(bookmark)) %></span>
              <%#= user_link_to(bookmark.user, :with_prefix => true) %>
              <%# TODO bookmarkを取得するタイミングで一緒にタグも取得するようにしたいなぁ %>
              <%= bookmark_comment_tag_search_links_tag(Tag.commented_to(bookmark).all.map(&:name).join(','), :max => 3) %>
              <% if bookmark.bookmark_comments.all?{|bc| bc.user_id != current_user.id } -%>
                <% new_bookmark_url_hash = {:controller => '/bookmark', :action => "new_without_bookmarklet", :url => bookmark.url, :title => bookmark.title} -%>
                <span class="bookmark_comment_form_wrapper">
                  <span class="link add_bookmark_comment_trigger"><%= icon_tag('tag_blue_add') %><%= _('Add a comment') %></span>
                  <div id="<%= "bookmark_comment_form_#{bookmark.id}"%>" class="bookmark_comment_form invisible", title="<%= _('Add a comment') %>">
                  <% form_for BookmarkComment.new, :url => [bookmark, :bookmark_comments] do |f| %>
                    <%= f.label :comment, _('Comment') %>
                    <%= f.text_field :comment %>
                    <%= f.submit _('Save'), :disable_with => _('Saving...') %>
                  <% end -%>
                  </div>
                </span>
              <% end -%>
              <br />
              <% if bookmark_comment = bookmark.bookmark_comments.last -%>
                <span class="infos">
                  <%= h bookmark_comment.comment %> <%= user_link_to(bookmark_comment.user, :with_prefix => true) %>
                </span>
              <% end -%>
            </td>
            <td class="date"><%=h bookmark.created_on.strftime(_("%B %d %Y")) %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% end %>
</div>

<% content_for :javascript_initializers do -%>
  $j('.bookmark_comment_form_wrapper').each(function(){
    $j.data(this, 'bookmark_comment_form_id', $j(this).find('.bookmark_comment_form').attr('id'));
  });
  $j('.bookmark_comment_form').dialog({
    autoOpen: false,
    width: 350,
    draggable: true
  });
  $j('.add_bookmark_comment_trigger').click(function(){
    var bookmark_comment_form_id = $j.data($j(this).closest('.bookmark_comment_form_wrapper').get(0), 'bookmark_comment_form_id');
    $j('#' + bookmark_comment_form_id).dialog('open');
    return false;
  });
<% end -%>
