<div class="box">
  <%= _("The mail magazine can be send to users of active status.<br/>If many active users exist, a lot of time is required until the mail magazine reaches users.") %>
</div>


<div class="box tabular">
  <% form_tag(admin_mail_magazines_path) do -%>
    <div class="label"><%= _("subject") %></div>
    <div><%= text_field_tag("mail_magazine[title]", params[:mail_magazine] ? params[:mail_magazine][:title] : nil, :size => "102") %></div>

    <div class="label"><%= _("Content") %></div>
    <div><%= text_area_tag("mail_magazine[contents]", params[:mail_magazine] ? params[:mail_magazine][:contents] :nil, :size => "100x25") %></div>
    <p><%= submit_tag _('Send'), :disable_with => _('Sending...'), :confirm => _("Are you sure to send mail magazine ?") %><p>
  <% end -%>
</div>
