<% content_for :contents_left do -%>
  <% unless current_user == current_target_user -%>
    <%= render(:partial => 'users/action_box', :locals => { :user => current_target_user }) %>
  <% end -%>
  <%= render(:partial => 'board_entries/recent_box', :locals => { :owner => current_target_user }) -%>
  <%= render :partial => 'users/join_groups_box', :locals => { :user => current_target_user } %>
  <%= render :partial => 'chains/follow_chains_box', :locals => { :user => current_target_user } %>
  <%= render :partial => "chains/tag_cloud_box" %>
<% end -%>

<% content_for :contents_right do -%>
  <div class="relative100">
    <h2 class="topix_title"><%= icon_tag('asterisk_orange') %><%= _('Profile') %></h2>
    <% if current_target_user.id == current_user.id -%>
    <div class="operation">
      <%= link_to icon_tag('vcard_edit', :title=>_('Edit')) + _('[Edit]'), edit_tenant_user_path(current_tenant, current_user) %>
    </div>
    <% end -%>

    <div class="topix_body">
    <%= render :partial => 'users/account_information' %>

    <% profiles = current_target_user.user_profile_values
       profile_hash = profiles.index_by(&:user_profile_master_id)
       current_tenant.user_profile_master_categories.all.each do |category| -%>
      <% unless category.user_profile_masters.empty? -%>
      <h2 class="subtitle"><%=h category.name %></h2>
      <table class="normal user_info show">
        <% category.user_profile_masters.each do |master| -%>
        <tr>
          <th><%=h master.name %></th>
          <td><%= profile_show_tag(master.input_type_processer, profile_hash[master.id]) %></td>
        </tr>
        <% end -%>
      </table>
      <% end -%>
    <% end -%>
    </div>

    <%= render :partial => 'pictures/pictures', :locals => {:user => current_target_user, :clickable => true} %>

  </div>

  <%= render :partial => 'users/against_chains', :locals => {:against_chains => @against_chains} %>
<% end -%>
