<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<%= favicon_include_tag %>

<title><%= h(title.blank? ?  app_title : "#{title} - #{app_title}") %></title>


<%= stylesheet_link_tag("skins/#{current_user.custom.theme}/skin.css") if logged_in? %>
<%= stylesheet_link_merged :base %>
<%= stylesheet_link_tag 'not_logged_in' unless logged_in? %>
<%= yield :stylesheet %>
