<% form_for @thankyou || current_user.sent_thankyous.build do |f| -%>
  <p>
    <%= f.label :comment %>
    <%= f.text_area :comment, :size => '40x6', :style => 'width: 330px;' %>
    <%= f.hidden_field :receiver_id %>
  </p>
  <p style="margin-top: 10px; text-align: right;">
    <span class="indicator" style="display:none;"><%= image_tag('skip/indicator.gif') %></span>
    <%= f.submit _('Send') %>
  </p>
<% end -%>
<div class="complete_message invisible">
  <p>
    <b><%= _('Successed to send a thankyou.') %></b>
  </p>
</div>

<% content_for :javascript_initializers do -%>
  $j('#new_thankyou').submit(function() {
    $form = $j(this);
    $form.find('input:submit').attr('disabled', 'disabled');
    $form.find('.indicator').show();
    $completeMessage = $j(this).parent().find('.complete_message');
    $j.ajax({
      type:'POST',
      url: $j(this).attr('action'),
      data: $j(this).serialize(),
      success: function(html) {
        $form.hide();
        $completeMessage.show();
        var closeTimeout = setTimeout(function(){
          var $dialog = $j('#thankyou_dialog');
          if($dialog.dialog('isOpen')){
            $dialog.dialog("close");
          }
        }, 3000);
        $form.data('closeTimeout', closeTimeout);
      }
    });
    return false;
  });
<% end -%>
