<% remote_form_for (@thankyou || current_user.sent_thankyous.build), :before => "$form = $j('#new_thankyou');$form.find('input:submit').attr('disabled', 'disabled');$form.find('.indicator').show();" do |f| -%>
  <p>
    <%= f.label :comment %>
    <%= f.text_area :comment, :size => '40x6', :style => 'width: 330px;' %>
    <%= f.hidden_field :receiver_id %>
  </p>
  <p style="margin-top: 10px; text-align: right;">
    <span class="indicator" style="display:none;"><%= image_tag('skip/indicator.gif') %></span>
    <%= f.submit _('Send') %>
  </p>
<% end -%>
<div class="complete_message invisible">
  <p>
    <b><%= _('Successed to send a thankyou.') %></b>
  </p>
</div>
