<div class="relative100 <%= 'invisible' if thankyous.empty? %>">
  <h2 class="topix_title"><%= icon_tag('asterisk_orange') %><%= _('Search result') %></h2>

  <%= i18n_will_paginate_with_container_wrapper thankyous %>

  <div>
    <% thankyous.each do |thankyou| -%>
      <%= render :partial => 'thankyous/thankyou', :locals => {:thankyou => thankyou} %>
    <% end -%>
  </div>

  <%= i18n_will_paginate_with_container_wrapper thankyous %>

</div>
