<% unless thankyous.empty? -%>
<div class="relative100">
  <h2 class="topix_title"><%= icon_tag('asterisk_orange') %><%= _('Thankyous') %></h2>
  <div class="topix_body">
    <table class="normal user_chain ui-corner-all">
    <% thankyous.each do |thankyou| -%>
      <tr>
        <th>
          <%= user_link_to_with_portrait(thankyou.sender, :width => 60, :height => 40) %><br/>
          <%= user_link_to(thankyou.sender) %>
        </th>
        <td>
          <%= h thankyou.comment %>
        </td>
      </tr>
    <% end -%>
    </table>
  </div>
</div>
<% end -%>
