<%= template_error_messages_for 'event' %>
<div class="input_line">
  <div class="input_label"><%= form.label :title, _('Name of Event') %></div>
  <div class="input_value"><%= form.text_field 'title', :size => 40 %></div>
</div>

<div class="input_line">
  <div class="input_label"><%= form.label :description, s_('Event|Description') %></div>
  <div class="input_value richtext" style="clear: left;"><%= form.text_area :description, :class => 'invisible' %></div>
</div>

<div class="input_line">
  <div class="input_label"><%= _('Start Date')%></div>
  <div class="input_value">
    <p><%= form.datetime_select 'start_date', :use_month_numbers => true -%></p>
  </div>
  <div style="clear: left"></div>
</div>

<div class="input_line">
  <div class="input_label"><%= form.label :period, _('Period of Event') %></div>
  <div class="input_value"><%= form.text_field 'period', :size => 20 %> <%= _('Input the event holding period. ex) 2 hours') %></div>
</div>

<div class="input_line">
  <div class="input_label"><%= _('Requirement of participation') %></div>
  <div class="input_value">
    <table><tr><td>
          <%= form.radio_button 'publication_type', 'public' %><%= form.label 'publication_type_public', _('Anyone') %>
          <%= form.radio_button 'publication_type', 'protected' %><%= form.label 'publication_type_protected', _('Only invited members') %>
          <div id="editor_symbols_space" style="display: none; margin-top: 5px;">
            <%# TODO:editor_symbols_valueを必須にしないように改修 %>
            <%= render :partial => "shared/symbol_autocomplete_field",
              :locals => {
              :publication_symbols_value => form.object.publication_symbols_value,
              :editor_symbols_value => params[:editor_symbols_value],
              :edit_checkbox => false
            } %>
      </td></tr></table>
    </div>
  </div>
  <div style="clear: left"></div>
</div>

<%= ckeditor "event_description" %>

<% content_for :javascript_initializers do -%>
    var changePublicationType = function() {
        if ($j('#event_publication_type_protected:checked').length > 0) {
            $j('#editor_symbols_space').show();
            $j('#publication_symbols_space').show();
            $j('#publication_symbol').focus();
        } else {
            $j('#editor_symbols_space').hide();
        }
    };

    $j('#event_publication_type_public, #event_publication_type_protected')
    .click(function() {
        changePublicationType();
    });

  <% end -%>
