<%= i18n_will_paginate_with_container_wrapper attendees %>
<table class="topix_events">
  <col class="col25" />
  <col class="col100" />
  <col />
  <tbody>
    <% attendees.each do |attendee| -%>
      <tr>
        <td><%= attendee_icon(attendee) %></td>
        <td><%= user_link_to attendee.user %></td>
        <td><%= attendee.comment %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
<%= i18n_will_paginate_with_container_wrapper attendees %>
