<%# TODO:sassに移す %>
<% content_for :stylesheet do -%>
  <style type="text/css">
  div.event_info_space {
    margin-bottom: 10px;
    width: 100%;
  }
  div.event_info_space_desc {
    margin-top: 5px;
    margin-left: 10px;
    width: 97%;
    text-align: left;
    border: 1px solid silver;
    overflow: hidden;
  }
  div.event_info_space_desc_body {
    margin: 5px;
  }
  div.box_space_body p.button {
    text-align: center;
    margin-top: 5px;
  }
  </style>
<% end -%>

<% content_for :contents_left do -%>
  <%= render :partial => 'action_box' %>

  <div class="box_space">
    <div class="box_space_title"><%= icon_tag('user_suit') -%><%= _('Administrator')%></div>
    <div class="box_space_body">
      <ul>
        <li><%= user_link_to @event.user %></li>
      </ul>
    </div>
    <div class="box_space_bottom"></div>
  </div><!-- box_space -->
<% end -%>


<% content_for :contents_right do -%>

<div class="event_info_space">
  <div class="event_info_space_desc ui-corner-all">
    <div class="event_info_space_desc_body"><%= render_richtext(@event.description, "1") -%></div>
  </div>
</div><!-- event_info_space -->

<p style="text-align: right; margin-right: 20px;"><%= link_to(_('[Edit]'), edit_event_path(@event)) if current_user == @event.user %></p>

<%# TODO:リファクタリング %>
<% unless @event.attendees.blank? -%>
  <% if @event.publication_type == 'public' -%>
    <%= render :partial => 'member_list', :locals => {
      :attendees => @event.attendees.status_is(true).paginate(:page => params[:page], :per_page => 50)
    } %>
  <% else -%>
    <%= render :partial => 'member_list', :locals => {
      :attendees => @event.attendees.order_attendees_status.paginate(:page => params[:page], :per_page => 50)
    } %>  <% end -%>
<% end -%>
<% end -%>
