<%= template_error_messages_for 'share_file' %>

<table style="width: 600px">
  <col class="col200"></col>
  <col class="col400"></col>
  <tr>
    <th><%= form.label :category, _('Tags') %></th>
    <td>
      <%= form.text_field :category, :size => '60' %>
      <div id="category_box" style="display:none;">
        <div id="candidates_list"><p><%= _('Multiple values can be given in foo,bar format')%></p></div>
        <div style="font-size:10pt; font-weight:bold;"><%= _('Your tags: ')%></div><div id="tags_list" style="margin-bottom:5px;"></div>
        <div style="font-size:10pt; font-weight:bold;"><%= _('Recent tags of other users: ')%></div><div id="user_tags_list" style="margin-bottom:5px;"></div>
      </div>
    </td>
  </tr>
  <tr>
    <th><%= form.label :file, _('File') %></th>
    <td><%= form.object.new_record? ? form.file_field(:file, :size => 60) : h(form.object.file_name) %></td>
  </tr>
  <tr>
    <th><%= form.label :date_1i, _('Publish Date')%></th>
    <td>
      <%= form.datetime_select :date, :use_month_numbers => true %>
      <a href="#" onclick="setCurrentDatetime('share_file', 'date');return false;"><%= _('[Set current time]')%></a>
    </td>
  </tr>
  <tr>
    <th><label><%= _('Privacy Settings')%></label></th>
    <% display_type = (form.object.owner_is_public? ? "" : "none") -%>
    <td>
      <span style="display:<%= display_type %>">
        <%= form.radio_button :publication_type, "public" %><%= form.label :publication_type_public, _('Open to All') %>
      </span>
      <%= form.radio_button :publication_type, "private" %><%= form.label :publication_type_private, form.object.is_a?(User) ? _("Owner Only") : _("Members Only") %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :description, _('Comment') %></th>
    <td><%= form.text_field :description, :size => 60 %></td>
  </tr>
</table>

<% content_for :javascript_initializers do -%>
  <% categories_hash = ShareFile.categories_hash(current_user) -%>
  $j('#share_file_category').focus(function() {
      showCategoryBox();
  });

  $j('#share_file_description').focus(function() {
      hideCategoryBox();
  });

  var setupTagComplete = function() {
      var tags = new Array(<%= categories_hash[:mine].map{|str| ("'#{str}'")}.join(',') %>);
      var userTags = new Array(<%= categories_hash[:user].map{|str| ("'#{str}'")}.join(',') %>);

      $j('#tags_list').append(createTagsLink(tags));
      $j('#user_tags_list').append(createTagsLink(userTags));

      // タグ処理
      $j('#share_file_category').jTagging($j('#tags_list'));
      $j('#share_file_category').jTagging($j('#user_tags_list'));
  };
  setupTagComplete();
<% end -%>
