<% unless events.empty? -%>
  <%= i18n_will_paginate_with_container_wrapper events %>
  <table class="group_list_box normal">
    <col />
    <col class="col75" />
    <col class="col100" />
    <tbody>
      <tr>
      <th><%= _('Event Name')  %></th>
        <th><%= _('Attendees') %></th>
        <th><%= _('Event date') %></th>
      </tr>
      <% events.each do |event| -%>
        <tr class="<%= cycle('line_0', 'line_1') %>">
          <td class="name"><span class="nowrap"><%= link_to(h(event.title), event_path(event)) %><%= event_type_icon event %></span></td>
          <td class="count"><%= event.attendees.status_is(true).count %></td>
          <td class="date"><span class="nowrap"><%= event.start_date.strftime(_('%B %d %Y')) %></span></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <%= i18n_will_paginate_with_container_wrapper events %>
<% end -%>
