<% tags ||= ChainTag.tags_used_to(current_target_user).all(:select => '*, count(tags.id) as count') -%>
<% title ||= _('Tags') -%>
<% hide_all_link ||= false -%>
<% if tags && !tags.empty? -%>
<div class="box_space">
  <div class="box_space_title"><%= icon_tag 'tag_blue' %><%= h(title) %></div>
  <div class="box_space_body tag_cloud">
  <% tag_cloud tags do |name, count, css_class| -%>
    <%= link_to(h(name), users_path(:tag_words => h(name)), :class => "tag #{css_class}") %>
    <span class="count">(<%= h count %>)</span>
  <% end -%>
  </div>
  <div class="box_space_bottom">
    <% unless hide_all_link -%>
      <%= link_to _('[...See all]'), users_path %>
    <% end -%>
  </div>
</div><!-- box_space -->
<% end -%>
