<% thankyous = Thankyou.comment_is_not('').created_at_gte(1.month.ago).all(:include => [:receiver, :sender]).sort_by{|i| rand}.slice!(0..1) -%>
<% unless thankyous.empty? -%>
<div id="thankyou_box" class="right_box ui-corner-all">
  <h2 class="ui-corner-top"><%= link_to _("Recently %s") % Thankyou.thankyou_label, :thankyous %></h2>
  <table>
    <tbody>
      <% thankyous.each do |thankyou| -%>
      <tr>
        <td style="width: 64px; padding: 5px;">
          <%= user_link_to_with_portrait(thankyou.receiver, :width => 64, :height => 64) %>
        </td>
        <td style="padding: 5px 5px 0 0; vertical-align: top;">
          <ul>
            <li>to <%= user_link_to(thankyou.receiver) %></li>
            <li><span class="small_text"><%=h truncate(thankyou.comment, 20) %></span></li>
            <li>from <%= user_link_to(thankyou.sender) %></li>
        </ul>
        </td>
      </tr>
      <% end -%>
    </tbody>
  </table>
  <%= link_to icon_tag('thumb_up') + _("List of %s") % Thankyou.thankyou_label, :thankyous %>
</div>
<% end -%>
