<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title><%= h Admin::Setting.abbr_app_title(current_tenant) -%> - <%= _('Subwindow')%></title>

  <%= stylesheet_link_merged :base %>
  <%= yield :stylesheet %>
</head>

<body>
<%= render :partial => "shared/flash_message" %>
<div id="main" style="margin: 10px;">
  <%= yield %>
</div><!-- main -->

</body>

<%= javascript_include_merged :jquery %>
<% javascript_tag do -%>
$j = jQuery.noConflict();
var relative_url_root = '<%= relative_url_root %>';
<% end -%>
<%= javascript_include_merged :base %>
<%= yield :javascript_includes %>

<% javascript_tag do -%>
$j(function(){
    <%= yield :javascript_initializers %>
});
<% end -%>
</html>
